main {
	display: grid;
	grid-template-columns: 75% 25%;
	grid-template-rows: repeat(3, auto);
}

h1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

section.mode {
	grid-column: 1/2;
	grid-row: 2/3;
}

section.card {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	gap: 10px;
	grid-column: 1/2;
	grid-row: 3/4;
}

.card-number {
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.number-selected {
	background-color: gray;
}

section.results {
	grid-column: 2/3;
	grid-row: 1/-1;
}

#guesses {
	display: flex;
	justify-content: space-around;
}

#guesses > div {
	background-color: pink;
	border-radius: 5px;
	height: 30px;
	width: 40px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: default;
}

#guesses > div > div {
	position: absolute;
	cursor: pointer;
	top: -6px;
	right: -6px;
	border: 1px solid tomato;
	border-radius: 50%;
	width: 14px;
	height: 14px;
	background-color: #fff;
	display: none;
}

#guesses > div:hover > div {
	display: flex;
	justify-content: center;
	align-items: center;
}